# Groq API (prototipten)
GROQ_API_KEY=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

# LlamaParse API (prototipten)
LLAMAPARSE_API_KEY=llx-SHymI9q0Tr65lYHubePG7sH2BwFo3myVLst8NuJThdP7x1LS

# Firebase (lambda-59fe8)
FIREBASE_PROJECT_ID=lambda-59fe8
FIREBASE_STORAGE_BUCKET=lambda-59fe8.firebasestorage.app
# Service account key (Firebase Console'dan indirilecek)
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@lambda-59fe8.iam.gserviceaccount.com

# API Config
API_HOST=0.0.0.0
API_PORT=8000
CORS_ORIGINS=http://localhost:3000